node_modules/
*rsync_deploy*
.DS_Store
.wordpress-cache
yarn-error.log
.next
.cache/
out/
public/static-assets/blur.json
public/static-assets/shareimages/*
!public/static-assets/shareimages/.gitkeep
!public/static-assets/shareimages/share-tkrp*
public/static-assets/videos/*
!public/static-assets/videos/.gitkeep
public/static-assets/images/*
!public/static-assets/images/.gitkeep
