.album {
  margin: 0 0 0 10px;
  nav {
    display: flex;
    flex-direction: row;
    color: #666666;
    font-size: 16px;
    margin: 15px 0;
    align-items: baseline;
    a:link, a:visited, span {
      color: #666666;
      padding: 0 5px;
      &:first-child {
        padding: 0 5px 0 0;
      }
      &.active {
        color: #FFFFFF;
      }
    }
    .share {
      color: #FFFFFF;
      margin-left: auto;
    }
  }
  h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 15px 0 0 0;
    background: #33323a;
    padding: 40px 20px;
  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
    margin: 10px;
  }

  article {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 30px 20px;
    background: #33323a;
    a:link, a:visited {
      color: rgb(250, 202, 207);
      text-decoration: underline;
    }
    @media screen and (max-width: 800px) {
      margin: 0;
      padding: 30px 10px;
    }
  }
  .tags {
    @extend article;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 5px 0 0 0;
    }
    li {
      a:link, a:visited {
        color: rgb(250, 202, 207);
        text-decoration: underline;
      }
      padding: 0 10px 0 0;
    }
  }
}