.grid-list {
  display: grid;
  grid-template-columns: [Menu] 50px [empty] auto [List] 30px [Grid] 30px;
  grid-column-gap: 10px;
  flex-basis: 100%;
  justify-items: right;
  padding: 0 10px;
  .menu-hamburger {
    grid-column: Menu;
  }
  .list {
    grid-column: List;
  }
  .grid {
    grid-column: Grid;
    text-align: right;
  }
  a, a:link, a:visited {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    color: #666666;
    opacity: 0.5;
    @media screen and (max-width: 800px) {
      padding: 20px 10px;
    }
    &.active {
      color: #FFF;
      opacity: 1;
    }
  }
}