header {
  text-align: left;
  max-width: 150px;
  position: fixed;
  padding: 15px;
  > .menu-hamburger {
    margin: 10px;
  }
  img {
    border-radius: 500px;
  }
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 10px 0 0 10px;
      border: 0;
      font-size: 15px;
      line-height: 1.3em;
      font-weight: bold;
      li {
        display: list-item;
      }
    }
  }
  @media screen and (max-width: 800px) {
    max-width: 750px;
    margin: 0 0 25px 0;
    padding: 0;
    img {
      margin: 0 0 0 10px;
    }
    nav, nav > ul {
      padding: 0;
      margin: 10px 0 0 0;
      li {
        padding: 10px;
        border-top: 1px solid #FACADE;
        &:last-child {
          border-bottom: 1px solid #FACADE;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    transition: all 0.5s ease-in-out;
    &.menu-closed {
      transform: translateX(-100%);
    }
    &.menu-open {
      transform: translate(0);
    }
  }
}