.nav {
  display: grid;
  grid-template-columns: [Prev] 50% [Next] 50%;
  .nav--item__prev {
    grid-column: Prev;
  }
  .nav--item__next {
    grid-column: Next;
    text-align: right;
  }
  a {
    padding: 10px 0;
    @media screen and (max-width: 800px) {
      padding: 20px 10px;
    }
  }
}