.newsletter {
  margin: 0 0 0 10px;
  color: #FFFFFF;
  background: #33323a;
  h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 15px 0 0 0;
    background: #33323a;
    padding: 20px 0px;
  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
    margin: 10px;
  }

  p {
    margin: 10px 0;
  }

  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    
    iframe,  	
    object,  
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}