.presets {
  margin: 0 0 0 10px;
  color: #FFFFFF;
  padding: 30px 20px;
  background: #33323a;
  h1 {
    color: #FFFFFF;
    font-size: 24px;
    margin: 15px 0 0 0;
    background: #33323a;
    padding: 40px 20px;
  }

  @media screen and (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
    margin: 10px;
  }

  p {
    margin: 10px 0;
  }

  ul, aside {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px 0;
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
    a:link, a:visited {
      color: rgb(250, 202, 207);
      text-decoration: underline;
    }
  }
  aside {
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
}