.nav {
  margin: 8px 0;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu li {
  margin: 0px 4px;
}
.menu li:first-of-type {
  margin-left: 0;
}
.menu li:last-of-type {
  margin-right: 0;
}

.link {
  color: var(--highlight);
}
